<%- include("partials/header.ejs") %>
<h1>Welcome!</h1>
<div class="para">
  <p>
    This is a sample blog website where I test my skills in having the skills of
    a fullstack developer. In this website, you can write your own blogs and
    view them. However, once you close the page, everything you wrote would be
    deleted as there is no database linked to store your blogs.
  </p>
</div>

<div class="bpic">
  <img src="/images/blogpic.png" />
</div>
